@tailwind base;
@tailwind components;
@tailwind utilities;

.-skew-x-10 {
  --tw-skew-x: -10deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.skew-x-10 {
  --tw-skew-x: 10deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.sidebar-item-used{
    @apply flex items-center gap-2 p-2 bg-white rounded-lg m-3;
}

.sidebar-item{
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}

.sidebar-icon-used{
    @apply text-white bg-gradient-to-tl from-purple-700 h-8 w-8 to-pink-500 mr-2 flex items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2;
}

.sidebar-icon{
    @apply w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white;
}

.sidebar-text{
    @apply ml-1 duration-300 opacity-100 pointer-events-none;
}

.btn-primary{
    @apply flex items-center gap-1 justify-start px-3 py-2 font-bold text-center text-white bg-blue-400 hover:bg-blue-500 rounded-lg;
}

.btn-warning{
    @apply flex items-center gap-1 justify-start px-3 py-2 font-bold text-center text-white bg-yellow-400 hover:bg-yellow-500 rounded-lg;
}

.btn-secondary{
    @apply flex items-center gap-1 justify-start px-3 py-2 font-bold text-center text-white bg-red-400 hover:bg-red-500 rounded-lg;
}

.btn-new{
    @apply gap-1 justify-end px-3 py-2 font-bold text-center text-white bg-green-400 hover:bg-green-500 rounded-lg;
}

.btn-default{
    @apply  inline-block w-full px-3 py-3 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer text-xs  bg-gradient-to-tl from-blue-600 to-cyan-400;
}

.item-card-menu{
    @apply text-white bg-blue-400 hover:bg-blue-500 h-12 w-12 mr-2 flex items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2;
}

.label-edit{
    @apply block font-medium mb-1;
}

.table-template{
    @apply items-center w-full  align-top border-gray-200 text-slate-500;
}

.table-template thead{
    @apply align-bottom;
}

.th-template{
    @apply px-6 py-3 font-bold uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-sm whitespace-nowrap text-slate-400 opacity-70;
}

.td-template{
    @apply px-6 py-3 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent;
}

.container-template{
    @apply flex-none w-full max-w-full bg-white p-2 rounded-lg;
}

.container-table{
    @apply flex flex-col bg-white rounded-lg;
}

.container-table-div{
    @apply p-0 overflow-x-auto;
}

.text-template{
    @apply text-blue-400;
}
